<style>
    /* Overwrite CSS variable */
    :root {
        --article-font-family: "HarmonyOS Sans SC", var(--base-font-family);
    }
</style>

<script>
    (function () {
        const customFont = document.createElement('link');
        customFont.href = "https://cdn.jsdelivr.net/npm/harmonyos-sans-sc-webfont-splitted@1.1.0/dist/index.min.css";
        customFont.href = "https://fonts.googleapis.com/css2?family=Cascadia+Code:wght@365&display=swap";
    
        customFont.type = "text/css";
        customFont.rel = "stylesheet";
    
        document.head.appendChild(customFont);
    }());
</script>