<style>
    /* Overwrite CSS variable */
    :root {
        --article-font-family: "HarmonyOS Sans SC", var(--base-font-family);
    }
</style>

<script>
    (function () {
        // Load HarmonyOS Sans SC font
        const harmonyFont = document.createElement('link');
        harmonyFont.href = "https://cdn.jsdelivr.net/npm/harmonyos-sans-sc-webfont-splitted@1.1.0/dist/index.min.css";
        harmonyFont.type = "text/css";
        harmonyFont.rel = "stylesheet";
        document.head.appendChild(harmonyFont);

        // Load Cascadia Code font
        const cascadiaFont = document.createElement('link');
        cascadiaFont.href = "https://fonts.googleapis.com/css2?family=Cascadia+Code:wght@365&display=swap";
        cascadiaFont.type = "text/css";
        cascadiaFont.rel = "stylesheet";
        document.head.appendChild(cascadiaFont);
    }());
</script>